.logo {
  height: 50px;
  width: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logoSpin infinite 10s linear;
  }
}

@keyframes logoSpin {
  from {
    transform: rotate(0deg);
  } 
  to {
    transform: rotate(360deg);
  }
}